/* Style général */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

/* Style du tableau */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* Styles spécifiques pour les états */
.active {
  color: green;
}

.inactive {
  color: red;
}

/* Style du bouton */
#add-auction-btn {
  display: block;
  width: 200px;
  margin: 20px auto;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #190773;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#add-auction-btn:hover {
  background-color: #190773;
}

#back-btn{
  display: block;
  width: 200px;
  margin: 20px auto;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #99442d;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#view-products-btn{
  display: block;
  width: 200px;
  margin: 20px auto;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #97b639;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}